<div class="admin-panel">
    <h1>Admin Panel</h1>
    <div class="buttons">
        <a href="@Url.Action("CreateItem", "Home")" class="btn btn-primary">Create Item</a>
        <a href="@Url.Action("CreateCategory", "Home")" class="btn btn-primary">Create Category</a>
</div>
