@model Category


@{
    ViewData["Title"] = "Add New Category";
}

<h2>Add New Category</h2>
<a href="@Url.Action("AdminPanel", "Home")" class="btn btn-primary">Back to Admin Panel</a>
<form asp-action="CreateCategory" method="post">
    <div class="mb-3">
        <label asp-for="Name"    class="form-label">Category Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Category</button>
</form>